MYSQL_URL=jdbc:mysql://127.0.0.1:3306/hmdp?useSSL=false&serverTimezone=UTC
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
ES_HOST=127.0.0.1
ES_PORT=9200
IMAGE_UPLOAD_DIR=./uploads/imgs
